/AnalysisSuite.class
/TFRuleBaseTest.class
/TokenStreamTest.class
/TokenizerTest.class
/SymbolTest.class
/AccentsTest.class
/SpecialCharTypeTest.class
/AccentRuleTest.class
/CapitalizationRuleTest.class
/DateRuleTest.class
/NumberRuleTest.class
/SpecialCharRuleTest.class
/StemmerRuleTest.class
/StopWordsRuleTest.class
/SymbolRuleTest.class
/TokenTest.class
/DateTest.class
/CategoryAnalyzerTest.class
/Issue4.class
/TermAnalyzerTest.class
/AuthorAnalyzerTest.class
/PlaceAnalyzerTest.class
/NewsDateAnalyzerTest.class
