/Analyzer.class
/AnalyzerFactory.class
/Token.class
/TokenFilter.class
/TokenFilterFactory.class
/TokenFilterType.class
/TokenStream.class
/Tokenizer.class
/TokenizerException.class
/Symbol.class
/SymbolTest.class
/Symbol_Type.class
/Accents_Type.class
/SpecialChar_Type.class
/AccentsType.class
/SymbolType.class
/SpecialCharType.class
/DatesType.class
/AccentRule.class
/DateRule.class
/SpecialCharRule.class
/SymbolRule.class
/CapitalizationRule.class
/NumericRule.class
/Sentence.class
/StemmerRule.class
/StopWordRule.class
/DateType.class
