/Query.class
/QueryParser.class
/Clause.class
/Index.class
/Term.class
/QueryException.class
/Operator.class
/ClauseTest.class
/QueryComponent.class
/QueryParseException.class
/QueryParserException.class
/QueryFileElement.class
/TermCrawler.class
/QueryComponent$QueryType.class
